<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Stephanie Reed">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Stephanie Reed professional website">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script defer src="../static/script.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <title>Stephanie Reed</title>
</head>
<body onload="addYear()">
    <header>
        <h1 id="webname">Stephanie Reed</h1>
        <nav id="myTopnav" class="topnav">
            <a href="../index.html">Home</a>
            <a href="CV.html">CV</a>
            <a href="contact.html" class="active">Contact Me</a>
            <a href="fun.html">For Fun</a>
            <a href="javascript:void(0);" class="icon" >
                <i class="fa fa-bars" onclick="activeNav()"></i>
            </a>
        </nav>
    </header>
    <div class="main">
        <h2>Contact Me</h2>
        <form action="">
            <label for="UserName">Your Name</label>
            <input type="text" name="UserName" id="UserName" required>
            <label for="UserEmail">Your Email</label>
            <input type="email" name="UserEmail" id="UserEmail" required>
            <label for="UserText">Your Comment</label>
            <textarea name="UserText" id="UserText" cols="30" rows="10" required></textarea>
            <input type="submit" value="send" id="submitButton" onclick="validate()">
        </form>
        <p id="ValidateMsg"></p>
        <table>
            <tr><th><strong>Contact Method</strong></th><th><strong>Description</strong></th></tr>
            <tr><td>Email</td><td>pinkster2005@icloud.com</td></tr>
            <tr><td>Phone</td><td>917-244-6965</td></tr>
            <tr><td>LinkedIn</td><td>https://www.linkedin.com/in/stephanie-reed-3a5ba6238/</td></tr>
        </table>
    </div>
    <footer>
        <p id="copyYear">Stephanie Reed &copy; </p>
    </footer>
    
</body>
</html>