<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Stephanie Reed">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Stephanie Reed professional website">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script defer src="../static/script.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <title>Stephanie Reed</title>
    <link rel="icon" type="image/x-icon" href="../static/sreed119Fav.png">
</head>
<body onload="addYear()">
    <header>
        <h1 id="webname">Stephanie Reed</h1>
        <nav id="myTopnav" class="topnav">
            <a href="../index.html">Home</a>
            <a href="cv.html" class="active">CV</a>
            <a href="contact.html">Contact Me</a>
            <a href="fun.html">For Fun</a>
            <a href="javascript:void(0);" class="icon" >
                <i class="fa fa-bars" onclick="activeNav()"></i>
            </a>
        </nav>
    </header>
    <div class="main">
        <h2>Curriculum Vitae</h2>
        <table>
            <tr><th><strong>Name</strong></th><th><strong>Description</strong></th></tr>
            <tr><td>Carnegie Mellon University</td><td>Information Systems Major, Class of 2027</td></tr>
            <tr><td>The Nightingale-Bamford School</td><td>High school in New York, NY</td></tr>
            <tr><td>Columbia SHAPE Program</td><td>Columbia University's Summer High School<br>Academic Program </td></tr>
            <tr><td>Johns Hopkins Center for Talented <br>Youth</td><td>College-level summer program for gifted students</td></tr>
        </table>
        <a href="../static/my_resume.pdf" target="_blank">My resume, pdf version</a>
    </div>
    <footer>
        <p id="copyYear">Stephanie Reed &copy; </p>
    </footer>
    
</body>
</html>
